@import url(variables.css);
*{
    margin: 0;
    padding: 0;
}

.items {
    margin: 1em;
    width: 20vw;
    grid-area: items;
}
.items img{
    width: 20vw;
    height: 50vh;
    z-index: -10;
}
.container{
    margin-top: -2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--naranja-claro);
    z-index: 10;
}
.container p{
    padding-top: 20px;
    width: 100%;
    background-color: var(--naranja-claro);
    color: var(--color-negro);
    font-weight: bold;
}
.container .btn {
    display: flex;
    justify-content: right;
}
.container button{
    margin: 3px;
    margin-top: 0;
    border-radius: 20px;
    border: none;
    background-color: var(--color-negro);
    width: 8em;
    height: 2.5em;
    margin-bottom: 5px;
    color: var(--color-blanco);
}
.container button:hover{
    cursor: pointer;
    color: var(--color-naranja);
}

.carritoItem{
    justify-content: space-between;
    width: 95%;
    margin: 1em;
    display: flex;
    box-shadow: 0 0 10px var(--color-gris);
}
.carritoItem img{
    width: 10vw;
}
.carritoItem .descripcion{
    margin: 1em;
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carritoItem .descripcion h2{
    margin: 1em;
    color: var(--color-naranja);
}
.carritoItem .cantidad,
.carritoItem .precio,
.carritoItem .subtotal,
.carritoItem .btn{
    margin: 1em;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.carritoItem .cantidad div{
    margin: 1em;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    display: flex;
    justify-content: center;
    outline: solid var(--color-naranja);
}
.carritoItem .btn{
    width: 8%;
}
.carritoItem .btn a{
    font-size:2em ;
}
.carritoItem .btn a:hover{
    cursor: pointer;
}
.btn01{
    font-size: 1em;
    width: 10vw;
    height: 4vh;
    background-color: var(--color-naranja);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
a{
    color: var(--color-negro);
}
.btn01:hover{
    cursor: pointer;
    box-shadow: 0 0 6px var(--color-gris);
    font-weight: bold;
}
.containerbtn{
    font-size: .8em;
    width: 16vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    outline: solid .5px var(--color-gris);
}
.containerbtn .btn02{
    width: 9vw;
    height: 4vh;
    background-color: var(--color-naranja);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.containerbtn .btn02:hover{
    cursor: pointer;
    box-shadow: 0 0 6px var(--color-gris);
    font-weight: bold;
}



@media (width <= 700px){
    body{
        font-size: 12px;
    }
    .items {
        margin: 1em;
        width: 80vw;
    }
    .items img{
        width: 80vw;
    }
    .container p{
        font-size: 1.5em;
    }
}